body{
    margin: 0;
    padding: 0;
}

.btn-style{
    border-radius: 50px;
    border: 1px solid #2154AC;
    color: #2154AC;
}

.icon-style{
    color: #2154AC;
}

.homeMenuStye{
    color: #2154AC;
}

.navbar-font-size{
    font-size: 16px;
    font-weight: 500;
}

.search-course-bg{
    background-color: #2154AC;
  
}


.input-font-color{
    color: #829DCD;
    background-color: #2154AC;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #829DCD;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #829DCD;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #829DCD;
  }

  .search-course-bg-input {
      
      display: flex;
      flex-wrap: wrap;

      
  }

  .search-course-bg-input input{
     

      width: 230px;
      margin-bottom: 5px;
      margin-top: 5px;
      border: 1px solid #FFFFFF;
  }

  .search-icon{
      font-size: 30px;
      color: #FFFFFF;
     
  }

  .search-icon:hover{
      cursor: pointer;
  }

  .uni-country-bg{
      background-color: #F4F4F4;
     
  }

  .select-placeholder-style{
      color: #A7A7A7;
  }
.select-style{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
}
  
.select-style select {
    width: 250px;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
} 

.clear-btn{
    background-color: #B8BABA;
    color: white;
    width: 96px;
    height: 47px;
    border: 0;
    border-radius: 5px;
}

.university-details-section{
    background-color: #F8FBFD;
    
}

.location{
    font-size: 24px;
    position: relative;
   
    left: 10px;
    color: #757575;
}

.uni-info-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.univesity-name-style{
    font-size: 24px;
    font-weight: 700;
    color: #404040;
}

.subject-style{
    font-size: 24px;
    color: #404040;
}

.course-cost-style{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
}

.course-cost-style-top{
    font-size: 18px;
    color: #404040;
    font-weight: 500;
    
}

.subject-details-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subject-details-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.apply-btn-style{
    border: 0;
    border-radius: 5px;
    background-color: #04A1E5;
    color: white;
    width: 110px;
    height: 48px;
}
.apply-btn-style-2{
    border: 0;
    border-radius: 5px;
    background-color: #B8B9BA;;
    color: white;
    width: 110px;
    height: 48px;
}
.details-btn-style{
    border: 1px solid #04A1E5;
    border-radius: 5px;
    background-color: white;
 
    color: #04A1E5;
    width: 110px;
    height: 48px;
}
.details-btn-style-2{
    border: 1px solid #B8B9BA;
    border-radius: 5px;
    background-color: white;
 
    color: #404040;
    width: 110px;
    height: 48px;
}

.bg-div{
    background-color: #052D72;
}

.footer{
    margin-bottom: 20px;
}

.footer p{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;


}

.footer span{
    font-size: 14px;
    font-weight: 400;
    color: #B8B8B8;
    
}

.footer a {
    text-decoration: none;
}

.social-media-icons{
    position: relative;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;

}

.copyright-bg{
    background-color: #0D1766;
}

.copyright-p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 0;
}
.copyright-a{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

.copy-div-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copy-div-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.copy-div-2 a:hover{
    color: #FFFFFF;
}
  


@media only screen and (max-width: 576px) {
    .select-style select {
        width: 100%;
        margin-bottom: 20px;
       
       
    } 

    .bg-div{
        text-align: center;
    }

    .search-course-bg-input input{
        width: 130px;

    }

    .clear-btn{
     
      
        width: 48px;
        height: 55px;
        border: 0;
        border-radius: 5px;
    }

    .subject-details{
        margin-bottom: 20px;
    }

 

   .subject-details-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.subject-style{
    text-align: center;
   
}

.social-media-icons{
    display: flex;
    justify-content: center;
}

.copy-div-1{
    display: flex;
    justify-content: center;
}

.copyright-p{
    font-size: 13px;
    
}
.copyright-a{
    font-size: 13px;
   
}
  
  }

  @media only screen and (max-width: 768px) {

    .select-style select {
        width: 100%;
        margin-bottom: 20px;
      
       
       
    } 





    .clear-btn{
     
      
        width: 70px;
        height: 55px;
        border: 0;
        border-radius: 5px;
    }

    .subject-details{
        margin-bottom: 20px;
    }

 
    .subject-details-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .subject-details-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .subject-style{
        text-align: center;
    }

  
    
 
    
    .copyright-p{
        font-size: 16px;
        
    }
    .copyright-a{
        font-size: 16px;
       
    }
   

  }

  @media only screen and (max-width: 1199px) {

 .select-style select {
        width: 100%;
        margin-bottom: 20px;
    } 

    .apply-btn-style-2{
        margin-bottom: 10px;
    }
    .apply-btn-style{
        margin-bottom: 10px;
    }

    
    
  

  } 

  @media only screen and (max-width: 1399px) {

 

    .search-course-bg-input input{
     

        width: 210px;
        margin-bottom: 5px;
        margin-top: 5px;
        border: 1px solid #FFFFFF;
    }

    .search-icon{
        font-size: 30px;
        color: #FFFFFF;
       
    }
  



  }

